/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}


:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.1875rem;
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    padding: 0 3.125rem;
    box-sizing: border-box;
    margin: 0 auto;
}

main {
    display: flex;
    flex-direction: column;
    gap: 2.19rem;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 1.375rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    background-color: white;
    border-radius: 1.25rem;
    width: 100%;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 1rem;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/*** Header ***/

header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    align-self: stretch;
  }
  
  .header-logo-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
  }
  
  .header-logo-container img {
    width: 3.81813rem;
    height: 1.1875rem;
    padding: 1.875rem 0rem;
  }

  .header-menu button {
    border: none;
    background-color: white;
  }
  
  .header-menu {
    display: flex;
    padding: 1rem 0;
    flex-direction: row;
    align-items: flex-end;
    gap: 5rem;
  }

  .header-menu a:hover {
    color: var(--main-color);
    border-top: 0.2rem solid var(--main-color);
    padding-top: 0.85rem;
  }
  

/* Info group */

.search-bar {
    display: flex;
    border-radius: 0.9375rem;
    width: 23.5625rem;
    height: 3.0625rem;
    align-items: center;
    overflow: hidden;
    gap: 0;
    margin-top: 2.19rem;
    border: 1px solid var(--main-bg-color);
  }
  
  .location-icon {
    background-color: #f2f2f2;
    width: 3.125rem;
    height: 3.0625rem;
    border-top-left-radius: 0.9375rem;
    border-bottom-left-radius: 0.9375rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .search-input {
    color: var(--Black, #000);
    text-align: center;
    font-size: 1.125rem;
    font-weight: 700;
    white-space: nowrap;
    width: 11.2rem;
    height: 100%;
  }

  .search-input input {
    border: none;
    width: 100%;
    height: 100%;
    font-weight: bold;
    text-align: center;
    outline: none;
  }
  
  .search-button {
    display: flex;
    height: 3.0625rem;
    padding: 0.9375rem 1rem;
    align-items: center;
    gap: 0.625rem;

    border-radius: 0rem 0.9375rem 0.9375rem 0rem;
    border: 1px solid var(--Blue, #0065FC);
    background: var(--Blue, #0065FC);
    background-color: var(--main-color);
    color: #fff;

    color: var(--White, #FFF);
    text-align: center;
    font-size: 1.125rem;
    font-weight: 700;
    cursor: pointer;
  }

  .search-icon {
    display: none;
  }

  /* filterbar */

  .filterbar {
    display: flex;
    align-items: center;
    background-color: #fff;
    margin-top:2.19rem;
    gap: 0.94rem;
  }
  
  .filter-txt {
    font-weight: bold;
  }
  
  .filter-button-grid {
    display: flex;
    flex-direction: row;
  }

  .filter-button {
    background-color: #fff;
    border: 0.1rem solid #d9d9d9;
    border-radius: 1.25rem;
    padding: 0.5rem 1.19rem;
    margin-right: 0.94rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .filter-button:hover {
    background-color: #DEEBFF;
  }
  
  .filter-button img {
    width: 1.375rem;
    height: 1.375rem;
    margin-right: 0.62rem;
  }
  
  .filter-button-txt {
    font-size: 14px;
  }


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    appearance: none;: 2.5rem;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 1.88rem;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    padding-bottom: 0px;
    flex-direction: row;
    gap: 1.875rem;
    height: auto;
    width: 100%;
    margin-left: 0;
    margin-top: 1.88rem;
    margin-bottom: 1.88rem;
}

.hebergements-cards .card {
    display: flex;
    /* padding: 0.3rem; */
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
}

.hebergements-cards .card-content {
    width: 100%;
    height: auto;
    padding-left: 0.94rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

.afficher-plus {
    font-size: 1.125rem;
    font-weight: 700;
    margin-top: 1.88rem;
    border: none;
    cursor: pointer;
    background-color: var(--main-bg-color);
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 9.125rem;
    padding: 0.3rem;
    border-top-left-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités à Marseille ***********/

.activités {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.activités-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.88rem;
}

.activités-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 1.88rem;
    flex: 1 0 0;
}

.activités-cards .card {
    display: flex;
    flex-direction: column;
    width: auto;
}

.activités-cards img {
    width: 100%;
    height: 27rem;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
}

.activités-cards .card-content {
    width: 100%;
    display: flex;
    padding: 1rem 1.1875rem;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}


.activités section {
    background-color: white;
    border-radius: 1.25rem;
    padding: 1.88rem;
    box-sizing: border-box;
}

/* Footer */
  
  footer {
    display: flex;
    align-items:flex-start;
    background-color: var(--main-bg-color);
    color: black;
    width: 100%;
  }

  .footer-left,
  .footer-center,
  .footer-right {
    justify-content: flex-start;
    text-wrap: nowrap;
    margin: 1.25rem;
    width: 100%;
  }

  p {
    margin-top: 0.94rem;
    text-wrap: nowrap;
  }
  


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activités-cards img {
        width: 100%;
        height: 12.5rem;
        border-top-left-radius: 1.25rem;
        border-top-right-radius: 1.25rem;
    }

}



/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    * {
        width: 100%;
    }

    body {
        align-items: center;
        width: 100%;
        padding: 0;
        flex-direction: column;
    }

/*** Header ***/

    header {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }

    .header-logo-container {
        justify-content: center;
        align-items: center;
        padding: 1.88rem;
    }

    .header-logo-container img {
        width: 3.81813rem;
        height: auto;
        padding: 0;
      }

    .header-menu {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 0;
    }

    .header-menu button {
        flex-grow: 1;
        margin: 0 5px;
        width: 50%;
        box-sizing: border-box;
      }

    .header-menu a {
        border-bottom: 0.125rem solid var(--main-bg-color);
        border-top: none;
        padding-bottom: 0.85rem;
    }

    .header-menu a:hover {
        color: var(--main-color);
        border-bottom: 0.2rem solid var(--main-color);
        border-top: none;
        padding-bottom: 0.85rem;
      }

/*** Info-Group ***/

.info-group {
    width: 100%;
    display: flex;
    flex-direction: column;
}

  
.location-icon {
    background-color: #f2f2f2;
    width: 6.125rem;
    height: 6.125rem;
    border-top-left-radius: 0.9375rem;
    border-bottom-left-radius: 0.9375rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.location-icon img {
    width: 1.125rem;
    height: 1.125rem;
}

.search-input {
    color: var(--Black, #000);
    text-align: center;
    font-size: 1.125rem;
    font-weight: 700;
    white-space: nowrap;
    width: auto;
  }

  /* .search-input input {
    border: none;
    width: 100%;
    font-weight: bold;
  }
  */
  .search-button {
    display: none;
  } 

  .search-icon {
    display: flex;
    width: auto;
    height: auto;
    padding: 0.9375rem 1rem;
    align-items: center;
    border-radius: 0rem 0.9375rem 0.9375rem 0rem;
    border: 1px solid var(--Blue, #0065FC);
    background: var(--Blue, #0065FC);
    background-color: var(--main-color);
    color: #fff;



  }

  .search-icon img {
    display: flex;
    width: 1.0625rem;
    height: 1.0625rem;
    color: var(--White, #FFF);
    text-align: center;
    font-size: 1.125rem;
    font-weight: 700;
    cursor: pointer;
  }
/* 
  .search-button {
    display: flex;
    height: 3.0625rem;
    padding: 0.9375rem 1rem;
    align-items: center;
    gap: 0.625rem;

    border-radius: 0rem 0.9375rem 0.9375rem 0rem;
    border: 1px solid var(--Blue, #0065FC);
    background: var(--Blue, #0065FC);
    background-color: var(--main-color);
    color: #fff;


  } */


/* FILTERBAR */

.filterbar {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.filter-button-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1.25rem 0.62rem;
    background-color: #fff;
  }

.filter-button {
    padding: auto 1.19rem;
}

  .filter-button-txt {
    font-size: 0.6rem;
    font-weight: bold;
  } 


/*** Hébergements ***/

    .hebergements {
        width: 100%;
    }

/*** Populaires ***/

    .populaires {
        width: 100%;
        margin-top: 50px;
    }


/*** Activité ***/

.activités {
    display: flex;
    flex-direction: column;
}

}