/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}


:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.1875rem;
    width: 100%;
    max-width: 1440px;
    min-width: 320px;
    padding: 0 3.125rem;
    box-sizing: border-box;
    margin: 0 auto;
}

main {
    display: flex;
    flex-direction: column;
    gap: 2.19rem;
}

a {
    color: inherit;
    text-decoration: none;
}


h3, h4 {
    margin: 0;
}

.section-title {
    margin: 0;
    font-size: 1.375rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    background-color: white;
    border-radius: 1.25rem;
    width: 100%;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}


.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/*** Header ***/

header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    align-self: stretch;
  }
  
  .header-logo-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
  }
  
  .header-logo-container img {
    width: 3.81813rem;
    height: 1.1875rem;
    padding: 1.875rem 0rem;
  }
  
  .header-menu {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 5rem;
  }

  .header-menu a {
    padding-top: 0.85rem;
    position: relative;
  }

  .header-menu a:hover {
    color: var(--main-color);
  }

  .header-menu a:hover::before {
    content: '';
    position: absolute;
    inset: 0;
    background: var(--main-color);
    height: 2px;
  }
  

/* Info group */

.info-group {
    display: flex;
    flex-direction: column;
    gap: 2.19rem;
}

.info-title-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.info-title-container p {
    margin: 0;
}

.search-bar {
    display: flex;
    border-radius: 0.9375rem;
    width: 23.5625rem;
    height: 3.0625rem;
    align-items: center;
    overflow: hidden;
    gap: 0;
    border: 1px solid var(--main-bg-color);
  }
  
  .location-icon {
    background-color: #f2f2f2;
    width: 3.125rem;
    height: 3.0625rem;
    border-top-left-radius: 0.9375rem;
    border-bottom-left-radius: 0.9375rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .search-input {
    color: black;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 700;
    white-space: nowrap;
    width: 11.2rem;
    height: 100%;
  }

  .search-input input {
    border: none;
    width: 100%;
    height: 100%;
    font-weight: bold;
    text-align: center;
    outline: none;
  }
  
  .search-button {
    display: flex;
    height: 3.0625rem;
    padding: 0.9375rem 1rem;
    align-items: center;
    gap: 0.625rem;
    width: 9.5rem;

    border-radius: 0rem 0.9375rem 0.9375rem 0rem;
    border: 1px solid var(--main-color);
    background: var(--main-color);
    background-color: var(--main-color);
    color: #fff;

    text-align: center;
    font-size: 1.125rem;
    font-weight: 700;
    cursor: pointer;
  }

  .search-icon {
    display: none;
  }

  /* filterbar */

  .filterbar {
    display: flex;
    align-items: center;
    background-color: #fff;
    gap: 0.94rem;
  }
  
  .filter-txt {
    font-weight: bold;
  }
  
  .filter-button-grid {
    display: flex;
    flex-direction: row;
  }

  .filter-button {
    background-color: #fff;
    border: 0.1rem solid #d9d9d9;
    border-radius: 1.25rem;
    margin-right: 0.94rem;
    display: flex;
    gap: 0.62rem;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 0.25rem 1.19rem;
  }
  
  .filter-button:hover {
    background-color: #DEEBFF;
  }
  
  .filter-button img {
    width: 1.375rem;
    height: 1.375rem;
  }
  
  .filter-button-txt {
  }

  /* tooltip */

  .info-group-tooltip {
    display: flex;
    gap: 0.62rem;
    align-items: center;
  }

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    gap: 2.5rem;
    appearance: none;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 1.88rem;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 65%;
    gap: 1.88rem;
}

.hebergements-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    padding-bottom: 0px;
    flex-direction: row;
    gap: 1.875rem;
    height: auto;
    width: 100%;
    margin-left: 0;
}

.hebergements-cards .card {
    display: flex;
    padding: 0.3rem;
    width: auto;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
}

.hebergements-cards .card-content {
    width: 100%;
    height: auto;
    padding: 0.625rem 0.94rem 0.25rem;
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin: 0;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}


.afficher-plus {
    font-size: 1.125rem;
    font-weight: 700;
    border: none;
    cursor: pointer;
    background-color: var(--main-bg-color);
}

/****** Populaires ***********/
.populaires {
    display: flex;
    flex-direction: column;
    width: 32%;
    gap: 1.88rem;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards {
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 1.88rem;
}

.populaires-cards .card {
    display: flex;
}

.populaires-cards img {
    width: 33%;
    height: 9.125rem;
    padding: 0.3rem;
    border-top-left-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;
}

.populaires-cards .card-content {
    width: 67%;
    padding: 0.625rem 0.3125rem 0.3125rem 0.9375rem;
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-content .card-txt {
    gap: 0.31rem;
}


/****** Activités à Marseille ***********/

.activités {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.activités-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.88rem;
}

.activités-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 1.88rem;
    flex: 1 0 0;
}

.activités-cards .card {
    display: flex;
    flex-direction: column;
    width: auto;
}

.activités-cards img {
    width: 100%;
    height: 27rem;
    border-top-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
}

.activités-cards .card-content {
    width: 100%;
    display: flex;
    padding: 1rem 1.1875rem;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}


.activités section {
    background-color: white;
    border-radius: 1.25rem;
    padding: 1.88rem;
    box-sizing: border-box;
}

/* Footer */
  
  footer {
    display: flex;
    align-items:flex-start;
    background-color: var(--main-bg-color);
    color: black;
    width: 100%;
  }

  .footer-left,
  .footer-center,
  .footer-right {
    justify-content: flex-start;
    text-wrap: nowrap;
    margin: 1.25rem;
    width: 100%;
  }

  footer p {
    margin-top: 0.94rem;
    text-wrap: nowrap;
  }

footer a:hover {
    text-decoration: underline;
}
  


/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
    }

    .populaires-cards a {
        width: 30%;
    }
    .populaires-cards img {
        height: auto;
    }

    .activités-cards img {
        width: 100%;
        height: 12.5rem;
        border-top-left-radius: 1.25rem;
        border-top-right-radius: 1.25rem;
    }

    .activités-cards a {
        height: 100%;
    }

    .activités-cards a .card {
        height: 100%;
    }

}



/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    * {
    }

    body {
        align-items: center;
        width: 100%;
        padding: 0;
        margin: 0;
        flex-direction: column;
    }


/*** Header ***/

    header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .header-logo-container {
        justify-content: center;
        align-items: center;
        padding: 1.25rem 0;
    }

    .header-logo-container img {
        width: 3.81813rem;
        height: auto;
        padding: 0;
      }

    .header-menu {
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: 100%;
        gap: 0;
    }

    .header-menu a {
        padding-bottom: 0.85rem;
        justify-content: center;
    }

    .btn-hebergements, .btn-activites {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .header-menu a::before {
        content: '';
        position: absolute;
        top: auto;
        bottom: 0;
        right: 0;
        left: 0;
        background: var(--main-bg-color);
        height: 2px;
    }


      .header-menu a:hover::before {
        content: '';
        position: absolute;
        top: auto;
        bottom: 0;
        right: 0;
        left: 0;
        background: var(--main-color);
        height: 2px;}


/*** Info-Group & Search-bar ***/

.info-group-container {
    display: flex;
    width: auto;
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
    padding: 0rem 1.25rem;
}


/* SEARCH BAR */

.search-bar {
    display: flex;
    position: relative;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    border-radius: 0.9375rem;
}

.location-icon {
    background-color: #f2f2f2;
    width: 3.125rem;
    height: 3.125rem;
    border-top-left-radius: 0.9375rem;
    border-bottom-left-radius: 0.9375rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.location-icon img {
    width: 1.125rem;
    height: 1.125rem;
}


.search-input {
    color: black;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 700;
    white-space: nowrap;
    width: auto;
  }

  .search-button {
    display: none;
  } 

  .search-icon {
    display: inline-flex;
    width: auto;
    height: auto;
    padding: 0.9375rem 1rem;
    align-items: center;
    border-radius: 0.9375rem;
    background: var(--main-color);
    background-color: var(--main-color);
    border: 1px solid var(--main-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

  .search-icon img {
    display: flex;
    width: 1.0625rem;
    height: 1.0625rem;
    color: white;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 700;
    cursor: pointer;
  }


/* FILTERBAR */

.filterbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.25rem;
    width: 100%;
}

.filter-button-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1.25rem 0.62rem;
    background-color: #fff;
    width: 100%;
  }

.filter-button {
    padding: 0.25rem 1.19rem;
    width: 100%;
    margin: 0;
}

  .filter-button-txt {
    font-size: 0.7rem;
    font-weight: bold;
    width: 100%;
  } 

/* TOOLTIP */

.info-group-tooltip img {
    width: 1.5rem;
}

/*** Hébergements et populaires ***/

.hebergements-and-populaires {
    display: flex;
    flex-direction: column-reverse;
    gap: 0.94rem;
    width: 100%;
    padding: 0;
    margin: 0;
}

.hebergements-and-populaires section{
    border-radius: 0;
}

.hebergements-and-populaires section:first-child {
    background-color: white;
}

.afficher-plus {
    background-color: white;
}


/*** Hébergements ***/

    .hebergements {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0;
        gap: 0.94rem;
    }

    .hebergements-cards {
        display: flex;
        flex-direction: column;
        width: 100%;       
    }

    .hebergements-cards .card {
        display: flex;
        flex-direction: column;
        gap: 0.50rem;
        height: 12.95rem;
    }

    .hebergements-cards img {
        height: 7.75rem;
    }

    .hebergements-cards .card-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
        gap: 0.5rem;
        padding: 0rem 0.9375rem;
    }

    


/*** Populaires ***/

    .populaires {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0;
        gap: 0.94rem;
    }

    .populaires-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1.05rem;
    }

    .populaires-title i {
        display: flex;
        align-items: center;
    }

    .populaires-cards img {
        height: auto;
        width: 33%;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
        gap: 0.94rem;
    }

    .populaires-cards .card {
        height: 9.145rem;
    }

    .populaires-cards .card-content {
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 1rem;
    }

    .populaires-cards .card-content .card-txt {
        display: flex;
        flex-direction: column;
        gap: 0.31rem;
    }

    .populaires-cards a {
        width:100%;
    }

    .afficher-plus {
        display: flex;
        justify-content: flex-start;
    }


/*** Activité ***/

.activités {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.activités-cards {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
}

.activités-cards a {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

.activités-cards .card {
    display: flex;
    height: 12.5rem;
    width: 100%;
}

.activités-cards img {
    width: auto;
    height: 8.125rem;
}



/*** Footer ***/

footer {
    display: flex;
    flex-direction: column;
}

}